body {
    background-color: #ffffff; 
    overflow-x: hidden;
    font-family: Georgia, serif;
}

.logo{
    height: 80%;
    width: 80%;
}

.tag{
    font-size: 36px;
}

.Footer{
    text-align: center;
    color: white;
    background-color: rgb(22, 23, 26); 
    padding: 10px;
}

.hero{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/beach.jpg') center/cover;
    color:#ffffff;
}

.ContactBackground{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/beach.jpg') center/cover;
    color:#ffffff;
    background-attachment: fixed;
}

.button {
	background-color: #fdb812;
    font-size: 25px;
	font-weight: bold;
    padding: 20px;
    margin: 20px;
    color: #1a3d93;
    transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.button:hover {
	background-color: #ffd26a;
	transform: translateY(-4px);
	color: #1a3d93;
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.NavButton{
    background-color: #fdb812;
    font-size: 25px;
	font-weight: bold;
    padding: 20px;
    margin: 20px;
    color: #1a3d93;
    transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.est{
    font-size: 18px;
}

.ContactHeading{
    padding: 40px;
}

.Facebook{
    max-width: 100px;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.Facebook:hover {
	transform: translateY(-7px);
}

a{
    text-decoration: none;
}

.ContactCardHeader{
    background-color: #f1e4bf;
    border-radius: 5px;
    color: black;
    padding: 20px;
    margin: 40px 10px 40px 10px;
    box-shadow: 0 6px 15px #000000;
}

.ContactCard {
    height: 100%;
    margin: 0px 10px 0px 10px;
}

p{
    font-size: 22px;
}

.emails{
    word-break: break-all;
    overflow-wrap: break-word;
    hyphens: auto;
}

.Footer{
    text-align: center;
    color: white;
    background-color: rgb(22, 23, 26); 
    padding: 10px;
}

@media (max-width: 768px) {
    .tag{
        font-size: 24px;
    }
    .est{
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .tag{
        font-size: 18px;
    }
    .est{
        font-size: 11px;
    }
}

